* {font-size:96%; font-family:'Courier New', Arial}
html,body {height:100%}
body {margin:0; padding:0; font-family: sans-serif; color: #444;}
a { text-decoration:none; color:#004499; line-height:1.5 }
a:hover {color:blue}
.left a span,.left select {
	font-size: 14px;
}
/** select options **/
.select_hosts { width:150px; }

/** common **/
.clear { clear:both}
.page span a { font-weight:bold; color:red}
blockquote { padding:0px; margin:0; border:1px #ccc solid; background-color:#eee }
.error { padding:0px; margin:10px 0; border:1px #ccc solid; background-color:#eee;color:red }
.message { padding:0px; margin:10px 0; border:1px #ccc solid; background-color:#eee;color:green }
.operation {
    padding: 3px;
    border-bottom: 1px #999 solid;
    margin-bottom: 5px;
    /*background: #b2b2b2;*/
    box-shadow: 0px 0px 1px #888 inset;
}
.menubar-link {
	font-size: 14px;
}
.operation a {font-size:12px; color: #004499;}
.operation a.current { font-weight:bold;text-decoration:underline }
.gap {height:20px}
.big {font-size:14px}
h3 {padding-bottom:0;margin-top:0;padding-bottom:3px;border-bottom:1px #cc9 solid;margin-bottom:7px; font-size:12px }
h3 a {font-size:12px}
ul.list { list-style:none; width:600px; margin:0; padding:0; }
ul.list li {float:left; width:200px;}
img {border:0}


/** collection **/
.query {background-color:#eeefff}
.field_orders p { height:14px; margin-top:0 }

.menu, #field_menu, .doc_menu {
  float:right;
  margin-right:100px;
  margin-top:0px;
  background-color:#eee;
  border-left:1px #ccc solid;
  border-top:1px #ccc solid;
  border-right:2px #ccc solid;
  border-bottom:2px #ccc solid;
  padding-left:3px;
  padding-right:3px;
  position:absolute;
  display:none;
  min-width:100px;
}

/** leftbar **/
.leftbar-page { background-color:#eeefff;height:100%; }
.leftbar-page .server-btn { margin-left:20px; }
.leftbar-page .world-btn { margin-left:20px; margin-bottom:3px; }
.leftbar-page .line { margin-bottom:10px; border-bottom:1px #ccc solid; }
.leftbar-page .dbs { margin:0; padding:0; list-style:none; }
.leftbar-page .dbs li { background-color:#eeefff; padding-left:20px;  }
.leftbar-page .dbs ul {padding:0;margin:0;list-style:none;}
.leftbar-page .dbs ul li {padding-left:20;border-bottom:0}
.leftbar-page .dbs .collections { }

/** topbar **/
.top-page {border-bottom:1px #666 solid; }
.top-page select { height:18px; background-color:#ccc; border:0 }
.top-page .left {float:left}
.top-page .right {float:right}

/*.top-menu-bar, .top-page select{
	background: #FFFFFF;
	color:#333;
	min-height: 50px !important;
	display: block;
	margin-bottom: 10px;
	border:0
}
*/


/**
 * 	Login 
 */


div.container {
	text-align: left;
}
.errorMsg {
	border-radius:5px;
	color: #000;
	background: #FFC0CB;
	padding: 3px;
	margin-bottom: 7px;
    text-align: justify !important;
    word-spacing: -1px;
    text-align: left;
    word-wrap: 0px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px !important;
}
.container {
	text-align: left;
	width: 30%;
	margin: 0 auto;
}
.container h1{
	display: block;
	text-align: center;
}
h1 {
	font-size: 140%;
	font-weight: bold;
}
fieldset {
	margin-top: 1em;
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border: #aaa solid 1px;
	padding: 1.5em;
	background: #eee;
	text-shadow: 1px 1px 2px #fff inset;
	-moz-box-shadow: 1px 1px 2px #fff inset;
	-webkit-box-shadow: 1px 1px 2px #fff inset;
	box-shadow: 1px 1px 2px #fff inset;
}
fieldset legend {
	font-weight: bold;
	color: #444;
	padding: 5px 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #aaa;
	background-color: #fff;
	-moz-box-shadow: 3px 3px 15px #bbb;
	-webkit-box-shadow: 3px 3px 15px #bbb;
	box-shadow: 3px 3px 15px #bbb;
	max-width: 100%;
}
form.login label {
	float: left;
	width: 10em;
	font-weight: bolder;
}
form.login input[type="text"], form.login input[type="password"], form.login select {
	width: 14em;
}
input[type="text"], input[type="password"], input[type="number"], input[type="date"], select {
	transition: all 0.2s;
	-ms-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
}
input[type="text"], input[type="password"], input[type="number"], input[type="date"], input[type="checkbox"], select {
	margin: 6px;
}
input[type="text"], input[type="password"], input[type="number"], input[type="date"] {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: white;
	border: 1px solid #aaa;
	color: #555;
	padding: 4px;
}
input, select, textarea {
	font-size: 1em;
}
.login-panel {
	padding:10px;
}
.loginsubmit {
	background: #6AAF4E;
	color: #fff;
}
.dotted{
	border-bottom: 1px solid #2B2C2E;
	margin-bottom: 10px;
}
.select-list {
	widows: 100%;
}
.login-button {
	margin-left: 40% !important;
	border: 1px solid #aaa;
	padding: 3px 7px;
	color: #111;
	border-radius: 7px;
	font-size: 14px;
	font-weight: 700;
	text-shadow: 0 1px 0 #fff;
}

#top-pane  {
	background-image: url(./themes/svg_gradient.php?from=ffffff&to=dcdcdc);
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#B7B7B7));
	background: -webkit-linear-gradient(top, #f6f6f6, #B7B7B7);
	background: -moz-linear-gradient(top, #f6f6f6, #B7B7B7);
	background: -ms-linear-gradient(top, #f6f6f6, #B7B7B7);
	background: -o-linear-gradient(top, #f6f6f6, #B7B7B7);
	border-top: 1px solid #aaa;
}
#top-pane {
    height: 32px !important;
    //background: #B7B7B7;
    //box-shadow: 0px 0px 2px #666 inset;
}

